/* 白天主题样式 */
:root {
    --bg-color1: rgb(245, 245, 245); /* 浅灰色背景 */
    --bg-color2: rgb(255, 255, 255); /* 白色背景 */
    --border-color: rgb(220, 220, 220);
    --input-color: rgb(255, 255, 255);
    --sent-color: rgb(173, 216, 230); /* 浅蓝色 */
    --received-color: rgb(240, 240, 240); /* 浅灰色 */
    --side-chat-color: rgb(245, 245, 245);
    --side-chat-hover-color: rgb(230, 230, 230);
    --side-chat-active-color: rgb(173, 216, 230);
    --icon-color: rgb(245, 245, 245);
    --font-color: rgb(0, 0, 0); /* 黑色文字 */
    --hover-icon-color: rgb(64, 158, 255);

    --button-color: rgb(36, 105, 208);
    --button-hover-color: rgb(64, 158, 255);
}

